:root {
  --font-size-m: 18px; /* Main text*/
  --font-size-s: 12px; /* Secondary text*/

  --font-family-m: serif; /* Main font family*/
  --font-family-s: sans-serif; /* Secondary font family*/

  --background-color-m: #2BAE66; /* Main background color*/
  --background-color-s: #FCF6F5; /* Secondary background color*/

  --text-color-m: black; /* Main text color */
  --text-color-s: white; /* Secondary text color */
}

.bar {
  display: flex;
  width: 100%;
  height: 0.1rem;
  background-color: var(--background-color-m)
}

.navbar {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  justify-content: space-between;

}

.nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;

}

.nav a:hover {
  border-radius: 2rem;
  background-color: rgb(175, 174, 174);

}

.nav-link {
  font-size: var(--font-size-m);
  color: var(--text-color-m);

  font-family: var(--font-family-m);

  padding: 0.5rem 2rem;

  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: var(--background-color-m);
}

.form {
  display: flex;
  width: 50%;
  justify-content: center;
  
}